.twoButtonGroup {
    height: 32px;

    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 15px;
    width: 66%;
    display: flex !important;
    align-items: center;
}

.twoButtonWithGropWithThird {
    display: flex;
    justify-content: space-between;
}

.runnerButton {
    height: 32px;
    width: 100%;
    background: #35498E !important;
    border: 1px solid #35498E !important;
    border-radius: 15px !important;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    /* identical to box height */
    color: #FFFFFF !important;
    text-transform: capitalize !important;
}

.doubleButtonInActive {
    height: 17px !important;
    width: 50%;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    /* identical to box height */
    color: #202020 !important;
    text-transform: capitalize !important;
}

.doubleButtonActiveGA {
    height: 28px !important;
    width: 50%;

    background: #35498E !important;
    border: 1px solid #35498E !important;
    border-radius: 15px !important;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 11px !important;
    line-height: 16px !important;
    /* identical to box height */
    color: #FFFFFF !important;
    text-transform: capitalize !important;
}

.singleButtonRunner {
    width: 33%;
}

.mrLajuFoodHeading {
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 21px;
    left: 15px;
    top: 130px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
}


.activeButton {
    box-sizing: border-box;
    width: 34.3%;
    height: 32px;
    background: #35498E !important;
    border: 1px solid #35498E !important;
    border-radius: 15px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
}

.deactivatedButton{
    box-sizing: border-box;
    width: 34.3%;
    height: 32px;
    background: #E94242 !important;
    border: 1px solid #E94242 !important;
    border-radius: 15px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
}

.addIconImage{
    height: 22px;
}