.displayflexColumn90VH {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 88vh;
}

.containerInfoIcon {
    display: inline-block;
    /* position: relative;
    right: 0%; */
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #919191;
    cursor: pointer;
}

.infoIcon {
    height: .8rem;
    padding-left: .2rem;
}

.lableOfRunnerRegistration {
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
}

/* radio to checkbox */
.radio {
    box-sizing: border-box;
    width: 26px;
    height: 26px;


    background: #FFFFFF !important;
    border: 1px solid #B7B7B7 !important;
    border-radius: 6px !important;
}


.locationButton {
    box-sizing: border-box;

    /* width: 117px; */
    width: 34.3%;
    height: 32px;

    background: #35498E !important;
    border: 1px solid #35498E !important;
    border-radius: 15px !important;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
}

.restourentContainer {
    display: flex;
    justify-content: space-between;
    /* width: 335px; */
    width: 100%;
    height: 38px;
    margin-bottom: .5rem;
    background: #FFFFFF;
    border: 1px solid #5F5F5F;
    border-radius: 15px;
    padding: .15rem;
}

.restourentContainerSelected {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    margin-bottom: .5rem;
    border-radius: 15px;
    padding: .15rem;
    background: #EEF2FF;
    border: 1px solid #35498E;
}

.restourentName {
    padding-left: 1rem;
    padding-top: .25rem;
    flex-grow: 1;
    cursor: pointer;
}

.selectAllMerchantButton {
    box-sizing: border-box !important;
    /* width: 97px; */
    width: 28.35%;
    height: 21px;
    background: #35498E !important;
    border: 1px solid #35498E !important;
    border-radius: 15px !important;

    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    /* identical to box height */
    white-space: nowrap;
    text-transform: capitalize !important;
    color: #FFFFFF !important;
}

.slectedChooseAOperator {
    box-sizing: border-box;
    padding-left: 1rem;
    /* width: 210px; */
    width: 61.5%;
    height: 32px;

    color: #767676;
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    border-radius: 15px;
}

.displayFlexRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
    align-items: center;
}


/* radio button and the lable */
.radioButtonWithLable {
    width: 35%;
    height: 2rem;
}

.headingOfRadioButoonAndLable {
    height: 21px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #202020 !important;

}

.checkboxLableRunnerRegistration {
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #5F5F5F;
}

.displayFlexRowFlexStart {
    display: flex;
    align-items: center;
}

.operatorListBar {
    width: 50%;
}