.App {
  box-sizing: border-box;
  height: 100vh;
  background-color: #35498E;
  width: 30rem;
  margin: auto;
}

@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}

.GridContainerSplashOne {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.svgLogoSplashOne {
  width: 93px;
  height: 93px;
}

.mainHeadingSplashOne {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
}

.loginHeadingSplashOne {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.GridContainerSplashTwo {
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.svgLogoSplashTwo {
  width: 318px;
  height: 256px;
}

.loginHeadingSplashTwo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.paperContainerSplashThree {
  background-color: #F9F9F9 !important;
}


.svgLogoSplashThree {
  width: 323px;
}

.checkboxLableSplashThree {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.checkboxContainerS3{
  display: flex;
  justify-content: flex-start;
  align-items:center
}

.submitButtonSplashThree {
  height: 32px;
  width: 100%;
  background: #35498E !important;
  border: 1px solid #35498E;
  border-radius: 15px !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  text-transform: capitalize !important;
  color: #FFFFFF !important;
}

.GridContainerSplashThree{
  height: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}